@model Spartane.Web.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = Resources.LoginResources.ForgotPassword;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            @using (Ajax.BeginForm("ForgotPassword", "Account", new { }, new AjaxOptions { HttpMethod = "Post", OnBegin = "disabledControls(true)", OnSuccess = "ForgotPasswordSuccess" }, new { }))
            {
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">@Resources.LoginResources.ForgotPassword</h3>
                        @Html.ValidationSummary(true)
                        <span class="field-validation-error">
                            <span class="InvalidEmailUserName"></span>
                        </span>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = @Resources.LoginResources.UserName })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Resources.LoginResources.Email })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group">

                            <input type="submit" id="btnSubmit" value="@Resources.LoginResources.ForgotPasswordButton" class="btn btn-primary m-b" />
                            <a title="@Resources.Resources.Cancelar" class="btn btn-danger m-b" onclick="closeForgotPassword()">@Resources.Resources.Cancelar</a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">


    function disabledControls(disabled) {
        $('.modal-body').find("input[type='submit']").prop("disabled", disabled);
    }
    function ForgotPasswordSuccess(data) {
        $('.InvalidEmailUserName').text(data.data);
        console.log(data);
        disabledControls(data.valid);
        if (data.valid === true) {
            $('.InvalidEmailUserName').css("color", "green");
            $('.modal-body').find("input[type=text]").prop("disabled", true);
        }


    }
    function closeForgotPassword() {
        $('.InvalidEmailUserName').css("color", "red");
        $('.modal-body').find("input[type=text]").prop("disabled", false);
        $('.modal-body').find("input[type=text]").val("");
        disabledControls(false);
        $('.InvalidEmailUserName').text("");
        //  $('.field-validation-error').text("");
        $('.DisplayLogin').hide();
    }
</script>

@*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>*@
